<?xml version='1.0' encoding='utf-8'?>
<widget id="de.wlanthermo.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WLANThermo</name>
    <description>
        App for WLANThermo devices.
    </description>
    <author email="admin@wlanthermo.de" href="https://wlanthermo.de">
        WLANThermo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="*" />
    <allow-navigation href="*" />
    <!-- preferences -->
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#222831" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml"/>
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="12.0" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="NSBonjourServices" target="*-Info.plist">
          <array>
            <string>_wlanthermo._tcp.</string>
          </array>
        </config-file>
        <config-file parent="NSLocalNetworkUsageDescription" target="*-Info.plist">
          <string>Search for WLANThermo devices</string>
        </config-file>
        <resource-file src="GoogleService-Info.plist" target="GoogleService-Info.plist" />
    </platform>
</widget>
