// from https://colorhunt.co/palettes/dark
// https://colorhunt.co/palette/189745
$medium: #222831;
$light: #eeeeee;
$medium_dark: #474a4e;
$dark: #393e46;
$primary: #00adb5;
$error_color: #f44336;

$input_highlight_color : #337ab7;
