@import "./colors.scss";

select {
    option {
        background-color: $medium_dark;
    }
}    

.form-radio,
.form-group {
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: 1.55rem;
}

.form-group.select-form-group {
    margin-top: 0.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
}

.form-help {
    @apply text-grey-800;
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    font-size: 0.8rem;
}

.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
    position: absolute;
    width: 100%;
}

.checkbox .form-help {
    position: relative;
    margin-bottom: 1rem;
}

.form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
}

.form-group input {
    height: 1.5rem;
}

.form-group textarea {
    resize: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group select {
    width: 100%;
    font-size: 1rem;
    height: 1.95rem;
    padding: 0.125rem 0.125rem 0.0025rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
}

.form-group .control-label {
    @apply text-grey-800;
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}

.form-group .bar {
    @apply border-grey-800;
    position: relative;
    border-bottom-width: 0.0625rem;
    border-bottom-style: solid;
    display: block;
}

.form-group .bar::before {
    @apply bg-primary-400;
    content: "";
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}

.form-group input,
.form-group textarea {
    display: block;
    background: none;
    padding: 0.375rem 0.125rem 0.2625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}

.form-group input[type="file"] {
    line-height: 1;
}

.form-group input[type="file"] ~ .bar {
    display: none;
}

.form-group input[readonly],
.form-group input[readonly="readonly"],
.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input:invalid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
    color: #fff;
}

.form-group input[readonly] ~ .control-label,
.form-group input[readonly="readonly"] ~ .control-label,
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input:invalid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    @apply text-grey-800;
    top: -.9rem;
    left: 0;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
    @apply text-primary-400;
}

.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0;
}

.icon-form {
    position: absolute;
    padding-left: 10px;
    top: 0.375rem;
    right: 0.25rem;
    color: #fff;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pure-u-1-2, .pure-u-1-3, .pure-grid {
    .form-group {
        margin-right: 5px;
        margin-top: 0.75rem;
        margin-bottom: 0.85rem;
    }
}

.pure-button-error {
    background: $error_color;
    color: #fff;
}

.form-group.control-at-top {
    margin-top: 0.1em;
}

// errors
.form-group {
    .error-prompt {
        color: $error_color;
        font-size: 0.8em;
        margin-top: 0.2em;
    }
    &.error {
        .control-label {
            color: $error_color !important;
        }
        .bar {
            border-bottom-color: $error_color !important;
            &::before {
                background: $error_color;
            }
        }
    }
}

input {
    &.with-icon {
        width: calc(100% - 1.8em);
    }
}