@import "./external/normalized.scss";
@import "./external/pure.scss";
@import "./external/pure-responsive.scss";
@import "./icon-font.scss";
@import "./colors.scss";
@import "./controls.scss";

$nav_width: 250px;

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    background-color: $dark;
}

.pure-menu-link {
    &:hover {
        background-color: $medium_dark;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.mr5 {
    margin-right: 5px;
}


.config-form-container {
    .name {
        padding: 0.1em;
        color: $light;
        font-size: 1.5em;
        font-weight: 600;
        .icon-question {
            padding: 0.2em;
            font-size: 0.7em;
            float: right;
            cursor: pointer;
        }
    }
    .config-form {
        background-color: $medium_dark;
        padding: 0.25rem 0.5rem;
        margin: 0.25rem;
    }
    .form-checkbox {
        margin-top: 1.25rem;
        margin-bottom: 1rem;
        .checkbox {
            color: #fff;
        }  
    }
}

.app-bar-actions {
    background-color: $medium;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    .button-container {
      padding: 0.2em;
      color: $primary;
      cursor: pointer;
    }
  }
  