@import "./external/normalized.scss";
@import "./external/pure.scss";
@import "./external/pure-responsive.scss";
@import "./icon-font.scss";
@import "./colors.scss";
@import "./controls.scss";

$nav_width: 250px;

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    background-color: $dark;
}

.pure-menu-link {
    &:hover {
        background-color: $medium_dark;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.mr5 {
    margin-right: 5px;
}
