@import "./external/normalized.scss";
@import "./external/pure.scss";
@import "./external/pure-responsive.scss";
@import "./icons/style.scss";
@import "./icons/icons.scss";
@import "./icons//wlan-icons/wlan-icons.scss";
@import "./colors.scss";
@import "./controls.scss";

$nav_width: 200px;

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    background-color: $dark;
}

.pure-menu-link {
    &:hover {
        background-color: $medium_dark;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.mt10 {
    margin-top: 10px !important;
}

.page-title-container {
    .name {
        @apply text-blue-800 dark:text-white;
        padding: 0.1em;
        margin-left: 0.2em;
        margin-top: 0.2em;
        font-size: 1.5em;
        font-weight: 600;
    }
}

.icon-question {
    @apply cursor-pointer;
    padding: 0.2em;
    font-size: 0.7em;
    float: right;
}

.config-form-container {
    @apply rounded-xl shadow-xl bg-white dark:bg-darkblue-800;
    .name {
        @apply text-blue-800 dark:text-white;
        padding: 0.1em;
        margin-left: 0.2em;
        margin-top: 0.2em;
        font-size: 1.5em;
        font-weight: 600;
    }
    .config-form {
        @apply p-2;
    }
    .form-checkbox {
        margin-top: 1.25rem;
        margin-bottom: 1rem;
        img {
            @apply mr-2 align-middle inline-block text-center w-5 h-5;
        }
        span {
            @apply align-middle dark:text-white;
        }  
    }
}

.app-bar-wrapper {
    margin-bottom: 1.9em;
}

.app-bar-actions {
    z-index: 5;
    display: block;
    background-color: $medium;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    height: 1.7em;
    position: fixed;
    width: calc(100% - #{$nav_width});
    @media screen and (max-width: 48em) {
        width: 100%;
    }
    .button-container {
      padding: 0.2em;
      color: $primary;
      cursor: pointer;
    }
}

.ic_white {
    color: #fff;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height:60px;
    width:60px;
    margin:0px auto;
    animation: spinner_rotation .6s infinite linear;
    border-left:6px solid rgba(0,174,239,.15);
    border-right:6px solid rgba(0,174,239,.15);
    border-bottom:6px solid rgba(0,174,239,.15);
    border-top:6px solid $primary;
    border-radius:100%;
}

@keyframes spinner_rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.2s;
  max-height: 600px;
}
.fadeHeight-enter,
.fadeHeight-leave-to
{
  opacity: 0;
  max-height: 0px;
}
