@import "./external/normalized.scss";
@import "./external/pure.scss";
@import "./external/pure-responsive.scss";

// from https://colorhunt.co/palettes/dark
// https://colorhunt.co/palette/189745
$medium: #222831;
$light: #eeeeee;
$medium_dark: #474a4e;
$dark: #393e46;
$primary: #00adb5;

$nav_width: 250px;

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    background-color: $dark;
}

.pure-menu-link {
    &:hover {
        background-color: $medium_dark;
    }
}
