@font-face {font-family: "wlan-icons";
  src: url('~@/assets/icons/wlan-icons/wlan-icons.ttf?t=1704149845979') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

[class^="wlan-icons-"], [class*=" wlan-icons-"] {
  font-family: 'wlan-icons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wlan-icons-battery-50:before { content: "\ea01"; }
.wlan-icons-bell:before { content: "\ea02"; }
.wlan-icons-bluetooth-fill-disabled:before { content: "\ea03"; }
.wlan-icons-bluetooth-fill:before { content: "\ea04"; }
.wlan-icons-bluetooth:before { content: "\ea05"; }
.wlan-icons-charge-high:before { content: "\ea06"; }
.wlan-icons-charge-low:before { content: "\ea07"; }
.wlan-icons-charge-middle:before { content: "\ea08"; }
.wlan-icons-cloud:before { content: "\ea09"; }
.wlan-icons-fan:before { content: "\ea0a"; }
.wlan-icons-home:before { content: "\ea0b"; }
.wlan-icons-info:before { content: "\ea0c"; }
.wlan-icons-pitmaster:before { content: "\ea0d"; }
.wlan-icons-remote-cloud:before { content: "\ea0e"; }
.wlan-icons-settings:before { content: "\ea0f"; }
.wlan-icons-temp-down:before { content: "\ea10"; }
.wlan-icons-temp-up:before { content: "\ea11"; }
.wlan-icons-temperature:before { content: "\ea12"; }
.wlan-icons-wifi-1:before { content: "\ea13"; }
.wlan-icons-wifi-10:before { content: "\ea14"; }
.wlan-icons-wifi-100:before { content: "\ea15"; }
.wlan-icons-wifi-3:before { content: "\ea16"; }
.wlan-icons-wifi-5:before { content: "\ea17"; }
.wlan-icons-wifi-50:before { content: "\ea18"; }
.wlan-icons-wifi:before { content: "\ea19"; }

$wlan-icons-battery-50: "\ea01";
$wlan-icons-bell: "\ea02";
$wlan-icons-bluetooth-fill-disabled: "\ea03";
$wlan-icons-bluetooth-fill: "\ea04";
$wlan-icons-bluetooth: "\ea05";
$wlan-icons-charge-high: "\ea06";
$wlan-icons-charge-low: "\ea07";
$wlan-icons-charge-middle: "\ea08";
$wlan-icons-cloud: "\ea09";
$wlan-icons-fan: "\ea0a";
$wlan-icons-home: "\ea0b";
$wlan-icons-info: "\ea0c";
$wlan-icons-pitmaster: "\ea0d";
$wlan-icons-remote-cloud: "\ea0e";
$wlan-icons-settings: "\ea0f";
$wlan-icons-temp-down: "\ea10";
$wlan-icons-temp-up: "\ea11";
$wlan-icons-temperature: "\ea12";
$wlan-icons-wifi-1: "\ea13";
$wlan-icons-wifi-10: "\ea14";
$wlan-icons-wifi-100: "\ea15";
$wlan-icons-wifi-3: "\ea16";
$wlan-icons-wifi-5: "\ea17";
$wlan-icons-wifi-50: "\ea18";
$wlan-icons-wifi: "\ea19";

