@font-face {font-family: "wlan-icons";
  src: url('wlan-icons.eot?t=1704317241359'); /* IE9*/
  src: url('wlan-icons.eot?t=1704317241359#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("wlan-icons.woff2?t=1704317241359") format("woff2"),
  url("wlan-icons.woff?t=1704317241359") format("woff"),
  url('wlan-icons.ttf?t=1704317241359') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('wlan-icons.svg?t=1704317241359#wlan-icons') format('svg'); /* iOS 4.1- */
}

[class^="wlan-icons-"], [class*=" wlan-icons-"] {
  font-family: 'wlan-icons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
.wlan-icons-bell:before { content: "\ea01"; }
.wlan-icons-bluetooth:before { content: "\ea02"; }
.wlan-icons-cloud:before { content: "\ea03"; }
.wlan-icons-home:before { content: "\ea04"; }
.wlan-icons-info:before { content: "\ea05"; }
.wlan-icons-pitmaster:before { content: "\ea06"; }
.wlan-icons-settings:before { content: "\ea07"; }
.wlan-icons-wifi:before { content: "\ea08"; }

}