name: PlatformIO build
on:
  pull_request:
    branches: 
      - master
      - develop
  push:
    branches:    
      - develop

jobs:
  main:
    name: PlatformIO build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: '3.x'
      - name: Install Platform IO
        run: |
          python -m pip install --upgrade pip
          pip install -U platformio
      - name: Build
        run: platformio run -e miniV1 -e miniV2 -e miniV3 -e nano
      - run: mkdir -p ./artifacts
      - run: cp ./.pio/build/miniV1/firmware.bin ./artifacts/miniV1_firmware.bin
      - run: cp ./.pio/build/miniV2/firmware.bin ./artifacts/miniV2_firmware.bin
      - run: cp ./.pio/build/miniV3/firmware.bin ./artifacts/miniV3_firmware.bin
      - run: cp ./.pio/build/nano/firmware.bin ./artifacts/nano_firmware.bin
      - uses: actions/upload-artifact@v1
        with:
          name: firmware_artifacts
          path: ./artifacts
